.form-type-textfield input[type='text'].form-text {
  width: 100%;
}

.questionnaire-question .form-type-radio label.option, .questionnaire-question .form-type-checkbox label.option {
  font-weight: bold;
}

.questionnaire-question-scale .form-type-radio {
  display: inline-block;
}

.questionnaire-question-scale .form-type-radio label.option {
  display: block;
  margin: 10px;
}

.questionnaire-question-scale .form-type-radio label.option input.scale.form-radio::before,
.questionnaire-question-scale .form-type-radio label.option input.scale.form-radio::after {
  position: absolute;
  top: -25px;
}

.questionnaire-question-scale .form-type-radio {
  text-align: center;
}

.la-pills-user-data .la-pills-name-reset {
  margin-left: 2em;
}

.questionnaire-description, .question-description {
  white-space: pre-wrap;
  font-size: 115%;
}

.questionnaire-question .question {
  font-size: 150%;
  font-weight: 500;
}
