.questionnaire {
  margin-top: 1em;
  margin-bottom: 1em;
}

.questionnaire > h2, .questionnaire .question > h3 {
  margin-bottom: 1em;
}

.questionnaire .question {
  margin-left: 1em;
}

.questionnaire .question .graph {
  height: 300px;
}

table.responses.long-text tbody td {
  white-space: pre-wrap;
}

table.responses.has-answers > thead {
  cursor: pointer;
}

table.responses.has-answers.show-more > tbody {
  display: block;
  overflow: hidden;
  max-height: 25px;
  opacity: 0.5;
}

.c3.graph.scale .c3-xgrid-line.mean line {
    stroke: black;
}

.c3.graph.scale .c3-xgrid-line.mean text {
    fill: black;
    font-size: 125%;
}
