{% for timer in elements %}
  {% if timer['#la_pills_session_timer_entity'].name %}
    <div class="la-pills-timer la-pills-timer-{{ timer['#la_pills_session_timer_entity'].id.0.value }}">
      <div class="row">
        <div class="col-sm-12">
          {{ timer.session_link }}
          <span class=" timer-name">
            {{ timer['#la_pills_session_timer_entity'].name.0.value }}
          </span>
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}
