{#
/**
 * @file la_pills_question_entity.html.twig
 * Default theme implementation to present LaPills Question Entity data.
 *
 * This template is used when viewing LaPills Question Entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_la_pills_question_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('la_pills_question_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
